.login-bg{
  background-size: cover;
}

.my-card{
  background-color: rgba(255, 255, 255, 0.863);
}

.loginMain

{
  background-image: url(https://i.pinimg.com/236x/db/81/06/db81068a0199a1169009ab87b9407803.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.logincard
{
  background-color: white;
  color: black;
  backdrop-filter: blur(2px);
  box-shadow: 3px 3px 5px 6px rgb(126, 122, 122),-3px -3px 5px 6px rgb(126, 122, 122);;
}

.logincard label 
{color:black}
.logincard p 
{color:balck}

.sbutton{
  color: white;
  background-color: blue;
}

.signupMain{
  background-image: url(https://i.pinimg.com/564x/6b/8e/97/6b8e974572105a1e4096c1a8e2b6a7bc.jpg);
}

.sbutton:hover
{
  color:black;
background-color: yellow;
}
.signCard
{
  border-radius: 25px;
  background-color: rgb(235, 176, 176);
}

.sinbutton{
  color: red;
  background-color: blue;
}
.sinbutton:hover{
  color: black;
  background-color: yellow;
}

.signCard label{
  color: black;
}

.myslide1{
  height: 100vh; 
  /* background-image: url(C:\Users\HP\Desktop\NodeGaurdian\frontend\public\ ); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.myslide2{
  height: 100vh; 
  /* background-image: url(C:\Users\HP\Desktop\NodeGaurdian\frontend\public\images\s5.webp); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.myslide3{
  height: 100vh; 
  /* background-image: url(C:\Users\HP\Desktop\NodeGaurdian\frontend\public\images\s6.webp); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-box{
  text-align: center;
  color:white;
  font-size: 70px;
  padding-top: 200px;
}
.myslide1 p{
  text-align: center;
  color: yellow;
  padding-top: 0px;
  font-size: 25px;
}

.card-title{
  color: black;
}
.card-text{
  color: blue;
}